.cantainer{
    background-color: blueviolet;
    padding: 20px;
    display: flex;

    /* default*/
    /* flex-direction:row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */


    /* default*/
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */


    /* default*/
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    
    /* default */
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: start; */
    /* align-items: end; */

    
    /* default */
    /* align-content: start; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */


    

}
.box1{
    background-color: aqua;
    margin: 4px; 
    height: 50px;
    width: 90px;
    /* flex-basis: 40px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* align-self: center; */
}
.box2{
    background-color: orange;
    margin: 4px;
    height: 50px;
    width: 90px;
    
}
.box3{
    background-color:greenyellow;
    margin: 4px;
    height: 50px;
    width: 90px;
}
.box4{
    background-color: brown;
    margin: 4px;
    height: 50px;
    width: 90px;
}
.box5{
    background-color:hotpink;
    margin: 4px;
    height: 50px;
    width: 90px;
}